@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.reader-workspace {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 768px) {
  .reader-workspace {
    flex-direction: column;
  }
}
